.row_posters{
  display:flex;
  overflow-y: hidden;
  overflow-x: scroll;
} 

.row_posters::-webkit-scrollbar {
display:-webkit-flex;
}
.row{
    margin: 20px;
    color: #fff;
}
h2{
    padding-bottom: 20px;
}
.row_poster{
    
    object-fit:contain;
    width:100%;
    max-width:150px;
    margin-right: 10px;
    transform: transform 450ms;
}
.row_poster:hover{
    transform: scale(1.08);
}

.row_posterLarge{
    max-height: 250px;
}
.row_posterLarge:hover {
    transform: scale(1.08);
}